
    <div class="container-fluid">
		<div class=" marginT64 paddingBt60 ">
        	<div class="row">
                		<div class="col-xs-12">
                        <div class="confirmationBlock">
                        	<figure class="text-center emoticon"> <img src="front/img/good-mood-emoticon.png" alt=""></figure>
                        	<h4>Thanks For Shopping </h4>	
                            <p>This code helps us show you the correct products & give credit to the current distributor. </p>
                        <div class="clearfix"></div>
                        </div>	
                        
                        </div>
                        
                		
                </div> 	
          <div class="clearfix"></div>
        </div>    
  
    </div>
    
    <div class="footerBtns" ng-click="backToProduct()"> <a href="javascript:void(0);"  class="transition viewCart"> BACK TO STORE  </a> </div>

